@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div id="aboutjumbo" class="jumbotron">
    <table style="border:dashed">
        <thead>
            <tr>
                <th>hi</th>
                <th>hi</th>
                <th>there</th>
                <th>little</th>
                <th>hgy</th>
                <th>s</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>asfd</td>
                <td>asdfa</td>
                <td>afsd</td>
                <td>asdf</td>
                <td>asdf</td>
                <td>fasdf</td>
            </tr>
            <tr>
                <td>afds</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>
</div>
    <button class="btn btn-primary">
        <span class="glyphicon glyphicon-piggy-bank"></span>
    </button>
